@import "tailwindcss";
@plugin "@tailwindcss/typography";


html{
    background: #161515;
    color: #fff;
    font-family: Poppins, sans-serif;
}


body{
    @apply grid place-content-center p-20;
}

body > div{
    @apply container;
}